@mixin font-face($name, $file, $weight: 400, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$file}.ttf') format('ttf');
        //  url('../fonts/#{$file}.woff2') format('woff2'); use this format in the future
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}